<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Main Node -->
    <node name="multiviperfrog_node" pkg="multiviperfrog" type="multiviperfrog_node" output="screen">
        <param name="optimize_multicam" value="true"/>
    </node>
    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find multiviperfrog)/rviz/multicamera_optimization_noSF_noTraj.rviz"/>

</launch>
